<div id="home">
  <header>
    <h1>Welcome to Kickr</h1>
    <p>Start Playing!!</p>
  </header>

  <div class="home-forms">
    <div class="home-form">
      <%= render "sign_in" %>
    </div>
    <div class="home-form">
      <%= render partial: '/application/sign_up', locals: { user: @user} %>
    </div>
  </div>
</div>
