<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Footballr.com, <%= @user.username %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.username %>.
    </p>
    <p>Thanks for Joining and Remember to Kick it!</p>
  </body>
</html>
