<h1> DASHBOARD </h1>

<p> Pick A Location</p>

<p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Borough Search", :name => nil %>
</p>


<%=link_to "Enter Field Address", edit_users_path %>
