<h1> DASHBOARD </h1>

<p> Pick A Location</p>

<p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil %>
</p>


<%=link_to "Create New Field Post", edit_users_path %>
<%=link_to "Near Fields", near_fields_path %>
